$accent1: #8d6e63; // 400
$accent2: #795548; // 500

h1, h2, h3, h4, h5, h6 { color: $accent1; }
a { color: $accent2; }
fieldset { border-color: $accent2; }
legend { color: $accent1; }
textarea { border-left-color: $accent1; }

img {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
h1 { text-align: center; }
#subtitle {
  text-align: center;
  font-size: 1.5em;
}
