$gray100: #f5f5f5;
$gray400: #bdbdbd;
$gray700: #616161;
$gray900: #212121;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
body, p, li, input {
  font-family: 'Lato', sans-serif;
  font-size: 11pt;
  font-weight: 400;
  text-align: justify;
  color: $gray700;
}
blockquote * { font-family: 'Source Code Pro', monospace; }
header { text-align: center; }
a {
  font-family: 'Lato', sans-serif;
  font-size: 11pt;
  font-weight: 400;
  text-decoration: none;
}
footer * {
  text-align: center;
  margin: 0 0 0.2em 0;
  font-size: 0.8em;
}
fieldset {
  border: 0.5px solid;
  border-radius: 5px;
  margin-bottom: 1.5em;
}
legend {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}
input, select, textarea {
  font-family: 'Source Code Pro', monospace;
  border: 0.5px solid $gray400;
  border-radius: 3px;
}
textarea {
  width: 100%;
  min-height: 150px;
  border: none;
  border-left: 4px solid;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: auto;
  resize: none;
}
button {
  font-family: 'Lato', sans-serif;
  font-size: 11pt;
  font-weight: 400;
  text-align: center;
  width: 50%;
  display: block;
  margin: 0.5em auto;
}
@media only screen and (min-width: 800px) {
  main, header, footer { width: 750px; }
  #maintenance { width: 300px; }
  main, header, footer, #maintenance {
    margin-left: auto;
    margin-right: auto;
  }
}

ul {
  display: block;
  overflow: auto;
  padding: 0;
  li {
    list-style-type: none;
    display: block;
    float: left;
    margin: 0 0.5em 0.5em 0;
  }
}
ol {
  list-style: none;
  counter-reset: item;
  li {
    counter-increment: item;
    &:before {
      content: counter(item) ". ";
      font-weight: 800;
    }
  }
}

.wide { width: 100%; }
.half {
  width: 46%;
  margin-left: 0;
  margin-right: 0;
  &:nth-child(odd) { margin-right: 5%; }
}
div.half { float: left; }
.short { width: 4em; }
.hidden { display: none; }
.req {
  color: #e53935;
  border-color: #e53935;
}
input.req { background-color: #ffcdd2; }
.note {
  font-size: 0.75em;
  font-style: italic;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted $gray900; /* If you want dots under the hoverable text */

  .tooltiptext {
    font-family: 'Source Code Pro', monospace;
    visibility: hidden;
    width: 15em;
    background-color: $gray900;
    color: $gray100;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $gray900 transparent transparent transparent;
    }
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }
}
