h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
body, p, li, input {
  font-family: 'Lato', sans-serif;
  font-size: 11pt;
  font-weight: 400;
  text-align: justify;
  color: #616161;
}
header { text-align: center; }
a {
  font-family: 'Lato', sans-serif;
  font-size: 11pt;
  font-weight: 400;
  text-decoration: none;
}
footer * {
  text-align: center;
  margin: 0 0 0.2em 0;
  font-size: 0.8em;
}
fieldset {
  border: 0.5px solid;
  border-radius: 5px;
  margin-bottom: 1.5em;
}
legend {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}
input, select, textarea {
  font-family: 'Source Code Pro', monospace;
  border: 0.5px solid #bdbdbd;
  border-radius: 3px;
}
textarea {
  width: 100%;
  min-height: 150px;
  border: none;
  border-left: 4px solid;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: auto;
  resize: none;
}
button {
  font-family: 'Lato', sans-serif;
  font-size: 11pt;
  font-weight: 400;
  text-align: center;
  width: 50%;
  display: block;
  margin: 0.5em auto;
}
@media only screen and (min-width: 800px) {
  main, header, footer { width: 750px; }
  #maintenance { width: 300px; }
  main, header, footer, #maintenance {
    margin-left: auto;
    margin-right: auto;
  }
}

ul {
  display: block;
  overflow: auto;
  padding: 0;
  li {
    list-style-type: none;
    display: block;
    float: left;
    margin: 0 0.5em 0.5em 0;
  }
}
ol {
  list-style: none;
  counter-reset: item;
  li {
    counter-increment: item;
    &:before {
      content: counter(item) ". ";
      font-weight: 800;
    }
  }
}

.wide { width: 100%; }
.half {
  width: 46%;
  margin-left: 0;
  margin-right: 0;
  &:nth-child(odd) { margin-right: 5%; }
}
.short { width: 4em; }
.hidden, .clt, .reeval, .exam-eval-select, #symp-day, #family-leave-form { display: none; }
