$accent1: #d84315; // 800
$accent2: #dd2c00; // A700

h1, h2, h3, h4, h5, h6 { color: $accent1; }
a {
  color: $accent2;
  &:visited { color: $accent2; }
  &:hover, &:active { color: $accent1; }
}
fieldset { border-color: $accent2; }
legend { color: $accent1; }
textarea { border-left-color: $accent1; }
