$accent1: #ad1457; // 800
$accent2: #c51162; // A700

h1, h2, h3, h4, h5, h6 { color: $accent1; }
a { color: $accent2; }
fieldset { border-color: $accent2; }
legend { color: $accent1; }
textarea { border-left-color: $accent1; }
ol li:before { color: $accent1; }

#ig-pelem, #au-pelem, #bcf-pelem, #pa-pelem {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  img {
    vertical-align: middle;
    width: 1.5em;
    margin: 0 0.5em;
  }
  #errodedata, #pa-warn, .obs-au-warn, .obs-bcf-warn { display: none; }
}
