@charset "utf-8";

$family-sans-serif: "Montserrat", sans-serif;
$family-monospace: "Roboto Mono", monospace;
$primary: #0090ed;
$link: #00acc1;

// Import Bulma for customization from the variables set above.
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-checkradio/dist/css/bulma-checkradio.min.css";
@import "../node_modules/bulma-switch/dist/css/bulma-switch.min.css";
@import "../node_modules/@creativebulma/bulma-divider/dist/bulma-divider.min.css";

// Custom styles

// Set all fields' fonts to `$family-monospace`
.field {
  * { font-family: $family-monospace; }
}

// Set index's card titles' color
.card .title {
  color: $link;
}

// Notification from `config.php`, regarding the success (or not) of
// saving the configurations.
#config-reply {
  position: fixed;
  top: 1rem;
  left: 1rem;
  margin-right: 1rem;
  z-index: 1000;
}

// Hide jQuery UI Autocomplete helper div.
.ui-helper-hidden-accessible { display: none; }

// Vaccine class for Pueri
.future { color: findLightColor($table-color); }

// Symptom day notice for SRv3
#day-notice {
  position: fixed;
  top: 5rem;
  right: 1rem;
  margin-right: 1rem;
  z-index: 1000;
  max-width: 150px;
}
// Modal size for SRv3
@media only screen and (min-width: 760px) { #family-leave-form .modal-card { width: 750px; } }
@media only screen and (min-width: 960px) { #family-leave-form .modal-card { width: 960px; } }


// SADT display styles
@media screen { #sadt-print { display: none; } }
@page {
  size: A4;
  margin: 12mm;
}
@media print {
  body {
    font-family: "Roboto Mono", sans-serif;
    font-size: 15px;
    header, nav, main, footer { display: none; }
  }
  #sadt-print {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    span { font-family: "Roboto Mono", monospace; }
    hr {
      border: 0;
      border-bottom: 1px dashed #ccc;
      margin: 3em 0;
      background: #999;
    }
    td { border: solid 1pt black; }

    .sadt-header {
      width: 100%;
      margin-bottom: 0.5em;
      td {
        border: none !important;
        padding: 0.2em;
        * { margin: 0; }
        &:nth-child(1) {
          width: 45%;
          background: url("../assets/sms.png") top left/50% no-repeat;
          .print-urgent {
            width: 100%;
            text-align: right;
            font-size: 1em;
            font-weight: bold;
            margin-right: 5em;
            display: none;
          }
        }
        &:nth-child(2) {
          width: 18%;
          li {
            font-size: 0.5em;
            text-transform: uppercase;
            list-style: none;
            &::before {
              content: "□"; /* Insert content that looks like bullets */
              padding-right: 8px;
            }
          }
        }
        &:nth-child(3) {
          width: 36%;
          text-transform: uppercase;
          p {
            text-align: center;
            &.top {
              font-size: 0.9em;
              font-weight: bold;
            }
            &.pront {
              font-size: 0.8em;
              border: solid 1px black;
              .print-pront { font-weight: bold; }
            }
          }
        }
      }
    }
    .sadt {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      tr:last-child { display: none; }
      td {
        padding: 0;
        margin: 0;
        border: solid 1px black;
        overflow: hidden;

        &::before {
          content: attr(label);
          font-size: 0.5em;
          text-transform: uppercase;
          margin: 0.1em 0.1em 0 0.1em;
          display: block;
          width: 100%;
        }
        span {
          width: 100%;
          display: block;
          font-size: 0.7em;
          margin: 0 0.1em;
          &.print-dx { text-align: center; }
        }
      }
    }
  }
}
