@charset "utf-8";

$family-sans-serif: "Montserrat", sans-serif;
$family-monospace: "Roboto Mono", monospace;
$primary: #0090ed;
$link: #ed5f00;

// Import Bulma for customization from the variables set above.
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-checkradio/dist/css/bulma-checkradio.min.css";
@import "../node_modules/bulma-switch/dist/css/bulma-switch.min.css";

// Custom styles

// Notification from `config.php`, regarding the success (or not) of
// saving the configurations.
#config-reply {
  position: fixed;
  top: 1rem;
  left: 1rem;
  margin-right: 1rem;
  z-index: 1000;
}
