$accent1: #2e7d32; // 800
$accent2: #00c853; // A700
$table1:  #e8f5e9; // 50
$gray:    #e0e0e0; // Gray 300

h1, h2, h3, h4, h5, h6 { color: $accent1; }
a { color: $accent2; }
fieldset { border-color: $accent2; }
legend { color: $accent1; }
textarea { border-left-color: $accent1; }
ol li:before { color: $accent1; }

#leave-form { display: none; }

table {
  border-collapse: collapse;
  th {
    color: $accent1;
    font-weight: bold;
  }
  th, td {
    width: 9%;
    text-align: center;
    padding: 0;
    &:first{ width: 10%; }
  }
  tr {
    border-top: solid 10px transparent;
    &.future { color: $gray; }
    &:nth-child(even) { background-color: $table1; }
    &:last-child { border-bottom: solid 10px transparent; }
  }
}
