$accent1: #4527a0; // 800
$accent2: #6200ea; // A700

h1, h2, h3, h4, h5, h6 { color: $accent1; }
a { color: $accent2; }
fieldset { border-color: $accent2; }
legend { color: $accent1; }
textarea { border-left-color: $accent1; }
ol li:before { color: $accent1; }

@media screen {
  #print { display: none; }
  textarea {
    resize: none;
    min-height: 10em;
  }
}
@page {
  size: A4;
  margin: 12mm;
}
@media print {
  body {
    font-family: 'Roboto', sans-serif;
    * {
      visibility: hidden;
      text-align: justify;
    }
  }
  #print {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    * { visibility: visible; }
    span { font-family: "Roboto Mono", monospace; }
    hr {
      border: 0;
      border-bottom: 1px dashed #ccc;
      background: #999;
    }

    .sadt-header {
      width: 100%;
      margin-bottom: 0.5em;
      td {
        border: none !important;
        padding: 0.2em;
        * { margin: 0; }
        &:nth-child(1) {
          width: 45%;
          background: url("../assets/sms.png") top left/50% no-repeat;
          .print-urgent {
            width: 100%;
            text-align: right;
            font-size: 1em;
            font-weight: bold;
            margin-right: 5em;
          }
        }
        &:nth-child(2) {
          width: 18%;
          li {
            font-size: 0.7em;
            text-transform: uppercase;
            list-style: none;
            &::before {
              content: "□"; /* Insert content that looks like bullets */
              padding-right: 8px;
            }
          }
        }
        &:nth-child(3) {
          width: 36%;
          text-transform: uppercase;
          p {
            text-align: center;
            &.top {
              font-size: 0.9em;
              font-weight: bold;
            }
            &.pront {
              font-size: 0.8em;
              border: solid 1px black;
              .print-pront { font-weight: bold; }
            }
          }
        }
      }
    }
    .sadt {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      tr:last-child { display: none; }
      td {
        padding: 0;
        margin: 0;
        border: solid 1px black;
        overflow: hidden;

        &::before {
          content: attr(label);
          font-size: 0.5em;
          text-transform: uppercase;
          margin: 0.1em 0.1em 0 0.1em;
          display: block;
          width: 100%;
        }
        span {
          width: 100%;
          display: block;
          font-size: 0.7em;
          margin: 0 0.1em;
          &.print-dx { text-align: center; }
        }
      }
    }
  }
}
