$accent1: #ff8f00;
$accent2: #ffab00;

h1, h2, h3, h4, h5, h6 { color: $accent1; }
a { color: $accent2; }
fieldset { border-color: $accent2; }
legend { color: $accent1; }
textarea { border-left-color: $accent1; }

ol {
  display: none;
  li:before { color: $accent1; }
}
