$accent1: #689f38; // 700
$accent2: #64dd17; // A700

h1, h2, h3, h4, h5, h6 { color: $accent1; }
a { color: $accent2; }
fieldset { border-color: $accent2; }
legend { color: $accent1; }
textarea { border-left-color: $accent1; }

ol {
  li:before { color: $accent1; }
}
strong { color: $accent1; }
em {
  color: $accent2;
  &.ident { margin-left: 1.5em; }
}
header {
  margin-bottom: 2em;
  p {
    text-align: center;
    margin: 0.5em 0;
  }
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);
  }
}
#eval {
  box-shadow: 0 0 0 0 rgba($accent2, 0.7);
  &.due { animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1); }
}

#strepscore {
  position: fixed;
  bottom: 1em;
  left: 1em;
  width: 20em;

  fieldset { background: white; }
  p {
    margin: 0.2em;
    &#strep {
      font-size: 1.5em;
      text-align: center;
    }
  }
}

#family-leave-form { display: none; }
.container { overflow: auto; }
#sympstart {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
