{% extends 'base.html.twig' %}

{% block main %}
<div class="example-wrapper">
    <h1>Hello foo! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/wamp64/aliases/pront/src/Controller/MainController.php</code></li>
        <li>Your template at <code>C:/wamp64/aliases/pront/templates/main/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
