{% extends 'base.html.twig' %}

{% block main %}
<section class="section">
  <div class="container">
    <div class="content">
      {{ contents | emojify | markdown_to_html }}
    </div>
  </div>
</section>
{% endblock %}
