{% extends '_base.html.twig' %}

{% block main %}
<section class="section">
  <div class="container">
    <div class="box">
      <div class="content">
        {{ contents | emojify | markdown_to_html | sanitize_html }}
      </div>
    </div>
  </div>
</section>
{% endblock %}
