{% extends 'config/_base.html.twig' %}

{% block content %}
{% import "macros/_forms.html.twig" as form %}
<section class="section">
  <div class="container">
    <div class="box">
      {{ form.header(
        'Cabeçalho',
        'format-header-1') }}

      <form id="formHeader" action="{{ path('config_header_save') }}" method="get">
        {{ form.single_input(
          'Cabeçalho',
          'header',
          'format-header-pound',
          'text',
          app.user.getHeader,
          'Cabeçalho',
          'required autofocus') }}

        {{ form.submit_input('Salvar Cabeçalho') }}
      </form>
    </div>
  </div>
</section>
{% endblock %}
