{% extends 'config/base.html.twig' %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="box">
      <h2 class="title is-3">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-format-header-1"></i>
          </span>
          <span>Cabeçalho</span>
      </h2>

      <form id="formHeader" action="{{ path('config_header_save') }}" method="get">
        <div class="field has-addons">
          <div class="control">
            <button class="button is-static" tabindex="-1">
              <span class="icon-text">
                <span class="icon">
                  <i class="mdi mdi-format-header-pound"></i>
                </span>
                <span>Cabeçalho</span>
              </span>
            </button>
          </div>
          <div class="control is-expanded">
            <input type="text" class="input" id="header" placeholder="Cabeçalho" value="{{ app.user.getHeader }}" required autofocus>
          </div>
        </div>

        <div class="field">
          <div class="control is-expanded">
            <button type="submit" class="button is-success is-fullwidth">
              <span class="icon-text">
                <span class="icon">
                  <i class="mdi mdi-content-save"></i>
                </span>
                <span>Salvar Cabeçalho</span>
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
