{## A gender selection select field. #}
{% macro gender() %}
<div class="box">
  <div class="field has-addons">
    <div class="control">
      <button class="button is-static" tabindex="-1">Declinação de Gênero</button>
    </div>
    <div class="control is-expanded">
      <div class="select is-fullwidth">
        <select id="pronouns" title="Qual declinação de gênero e/ou pronome será usado para descrever o exame físico, quando aplicável">
          <option value="e" selected>Neutro</option>
          <option value="o">Ele/Dele</option>
          <option value="a">Ela/Dela</option>
        </select>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{## The main physical exam fields: general, vital signs, and conscience. #}
{% macro general() %}
<div class="box">
  <h2 class="title is-4">Estado Geral</h2>

  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select id="status" title="Estado geral">
              <option value="Bom" selected>BEG</option>
              <option value="Regular">REG</option>
              <option value="Mal">MEG</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select id="nutrition" title="Estado nutricional">
              <option value="" selected>Status Nutric. (N/A)</option>
              <option value="Esmaecid((PRO))">Esmaecide</option>
              <option value="Caquétic((PRO))">Caquétice</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="is-checkradio">
      <input class="is-success" type="radio" name="color" value="Corad((PRO))" checked>
      <span>Corade</span>
    </label>
    <label class="is-checkradio">
      <input class="is-warning" type="radio" name="color" value="1">
      <span>&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="color" value="2">
      <span>&plus;&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="color" value="3">
      <span>&plus;&plus;&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="color" value="4">
      <span>&plus;&plus;&plus;&plus;</span>
    </label>
  </div>

  <div class="field">
    <label class="is-checkradio">
      <input class="is-success" type="radio" name="hydro" value="hidratad((PRO))" checked>
      <span>Hidratade</span>
    </label>
    <label class="is-checkradio">
      <input class="is-warning" type="radio" name="hydro" value="1">
      <span>&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="hydro" value="2">
      <span>&plus;&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="hydro" value="3">
      <span>&plus;&plus;&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="hydro" value="4">
      <span>&plus;&plus;&plus;&plus;</span>
    </label>
  </div>

  <div class="field">
    <label class="is-checkradio">
      <input class="is-success" type="radio" name="cyanose" value="acianótic((PRO))" checked>
      <span>Acianótice</span>
    </label>
    <label class="is-checkradio">
      <input class="is-warning" type="radio" name="cyanose" value="1">
      <span>&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="cyanose" value="2">
      <span>&plus;&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="cyanose" value="3">
      <span>&plus;&plus;&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="cyanose" value="4">
      <span>&plus;&plus;&plus;&plus;</span>
    </label>
  </div>

  <div class="field">
    <label class="is-checkradio">
      <input class="is-success" type="radio" name="icter" value="anictéric((PRO))" checked>
      <span>Anictérice</span>
    </label>
    <label class="is-checkradio">
      <input class="is-warning" type="radio" name="icter" value="1">
      <span>&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="icter" value="2">
      <span>&plus;&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="icter" value="3">
      <span>&plus;&plus;&plus;</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="icter" value="4">
      <span>&plus;&plus;&plus;&plus;</span>
    </label>
  </div>

  <div class="field">
    <label class="is-checkradio">
      <input class="is-link" type="radio" name="fever" value="" checked>
      <span>NT</span>
    </label>
    <label class="is-checkradio">
      <input class="is-success" type="radio" name="fever" value="afebril">
      <span>Afebril</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="fever" value="febril">
      <span>Febril</span>
    </label>
    <label class="is-checkradio">
      <input class="is-danger" type="radio" name="fever" value="hipotérmic((PRO))">
      <span>Hipotérmice</span>
    </label>
  </div>

  <div class="field has-addons">
    <div class="control">
      <button class="button is-static" tabindex="-1">Estado Respiratório</button>
    </div>
    <div class="control">
      <div class="select">
        <select id="breathe-abnormal-desc">
          <option value="eupneic((PRO))" selected>Eupneice</option>
          <option value="eupneic((PRO)) (ausência de quaisquer sinais objetivos de dispneia - sem de uso de musculaturas respiratórias acessórias, sem postura compensatória)">Eupneice (enfático)</option>
          <option value="taquipneic((PRO))">Taquipneice</option>
          <option value="bradipneic((PRO))">Bradipneice</option>
          <option value="taquidispneic((PRO))">Taquidispneice</option>
          <option value="bradidispneic((PRO))">Bradidispneice</option>
          <option value="other">Outro...</option>
        </select>
      </div>
    </div>
    <div class="control is-expanded">
      <input class="input" id="breathe-abnormal-desc-other" placeholder="Descreva..." disabled>
    </div>
  </div>

  <div class="field has-addons">
    <div class="control">
      <button class="button is-static" tabindex="-1">Fácies</button>
    </div>
    <div class="control">
      <div class="select">
        <select id="face">
          <optgroup label="Gerais">
            <option value="atípica" selected>Normal</option>
            <option value="other">Outra...</option>
          </optgroup>
          <optgroup label="Sindrômicas">
            <option value="acromegálica">Acromegálica</option>
            <option value="adenoidiana">Adenoidiana</option>
            <option value="cushingoide (ou 'moonface')">Cushingoide</option>
            <option value="esclerodérmica">Esclerodérmica</option>
            <option value="leonina">Leonina</option>
            <option value="miastênica (ou de Hutchinson)">Miastênica</option>
            <option value="parkinsoniana">Parkinsoniana</option>
            <option value="renal">Renal</option>
            <option value="tireotóxica (ou basedowiana)">Tireotóxica</option>
          </optgroup>
          <optgroup label="Sintomáticas">
            <option value="dolorosa">Dolorosa</option>
            <option value="sonolenta">Sonolenta</option>
            <option value="entristecida">Entristecida</option>
            <option value="astênica">Astênica</option>
            <option value="persecutória">Persecutória</option>
          </optgroup>
        </select>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
