{% extends '_base.html.twig' %}

{% block main %}
{% import "macros/_forms.html.twig" as form %}
<header class="section">
  <div class="container has-text-centered">
    {{ form.header(name) }}
  </div>
</header>

<section class="section">
  <div class="container">
    <div class="box">
      //
    </div>
  </div>
</section>
{% endblock %}
