{% extends '_base.html.twig' %}

{% block main %}
{% import "macros/_forms.html.twig" as form %}
{% import "macros/_physical.html.twig" as physical %}
<header class="section">
  <div class="container">
    {{ form.header(name) }}
  </div>
</header>

<section class="section">
  <div class="container">
    {{ physical.gender() }}
    {{ physical.general() }}
  </div>
</section>
{% endblock %}
