<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-title" content="Bossy">

		<title>Bossy</title>

    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg"/>
    <link rel="shortcut icon" href="/favicon/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png"/>
    <meta name="apple-mobile-web-app-title" content="Pront"/>
    <link rel="manifest" href="/favicon/site.webmanifest"/>

		{% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags('pront') }}

		{% block javascripts %}{% endblock %}
    {{ encore_entry_script_tags('pront') }}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
